<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head') %>
  <!-- Load js dependencies -->
  <%- include('partials/bs_scripts') %>
<script>
// get ready
$(function(){
  var socket = io(); //load socket.io-client and connect to the host that serves the page

  // define pinstatus API
  var pinValue;
  var statusUrl;
  hostn = 'poolPi';
  var getStatus = '/gpio/pinstatus';
  statusUrl = 'http://' + hostn +  ':3000' +  getStatus;

 // Get the current pin status and change button display
  $.get(statusUrl, function(data) {
    data.ds.forEach(function(item, index){
      if(item == true){
        turnOn('#btn'+index,'');
      }
    })
  });

  var btnDeviceOn = "border-success";
  var btnDeviceOff = "border-danger"
  var onoffDeviceOn = "text-success";
  var onoffDeviceOff = "text-danger"

  function turnOff(currID){
    $(currID).removeClass(btnDeviceOn).addClass(btnDeviceOff);
    $(currID + " i").removeClass(onoffDeviceOn).addClass(onoffDeviceOff);
    $(currID + "> span").html("OFF").removeClass(onoffDeviceOn).addClass(onoffDeviceOff);
    $(currID).attr("data-pinstate", "false");
  };

  function turnOn(currID){
    $(currID).removeClass(btnDeviceOff).addClass(btnDeviceOn);
    $(currID + " i").removeClass(onoffDeviceOff).addClass(onoffDeviceOn);
    $(currID + "> span").html("ON").removeClass(onoffDeviceOff).addClass(onoffDeviceOn);
    $(currID).attr("data-pinstate", "true");

  }

// receive pinChange info from server
  socket.on('pinChange', function(data){
    console.log("socket here: " + JSON.stringify(data));
    if(data.status == true){
      console.log(('#btn'+String(data.pin)))
      turnOn('#btn'+String(data.pin));
    }
    else{
      turnOff('#btn'+String(data.pin));
    }
  })

  //post on click
  $( "Button" ).on("click", function(){

     var currID = "#" + $(this).attr("ID");
      var state =  $(currID).attr("data-pinstate");
     //console.log(state);

     var url = './gpio/' + $(this).data('pin') + '/' + $(this).data('type') + '/toggle';
      $.post(url, { src : "Manual" }, function(){
            if(state == "false"){
              turnOn(currID);
            //  socket.emit("pinChange", {"pin": $(currID).data("pin"), "status": true}); //send button status to server
            }
            else{
              turnOff(currID);
              //socket.emit("pinChange", {"pin": $(currID).data("pin"), "status": false}); //send button status to server
            }
          })
        .fail(function(){
          console.log("POST action failed");
        })
        .done(function(){
          // Change button state

        })

  })
})



</script>


  <body id="<%= pageID %>">

    <!-- include the navigation bar -->
    <%- include('partials/nav') %>


    <!-- Page content -->
    <div class="container mainBody" style="max-width: 80%;">
      <div class="row">
        <%- //include('cards/currentweather') %>

          <% devicestats.forEach(function(item){ %>

            <%- include('cards/device_ctrl', {item: item}) %>
          <% }); %>
          <% function isEven(value) {return (value%2 == 0);}
          if(devicestats.length != 0){%>
            <div class="col-6 col-sm-4 col-md-3 mx-auto "></div>
          <% } %>

      </div>
    </div>



  </body>
</html>
