<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body id="<%= pageID %>">

    <!-- include the navigation bar -->
    <%- include('partials/nav') %>

    <!-- Page content -->
    <div class="container mainBody" style="width: 100%;">
    <div class="row">
      <%- include('cards/currentweather') %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h4 class="card-title">Primary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>


    <!-- Load js dependencies -->
    <%- include('partials/bs_scripts') %>

  </body>
</html>
