<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <!-- Load js dependencies -->
  <%- include('partials/bs_scripts') %>
  <body id="<%= pageID %>">

    <!-- include the navigation bar -->
    <%- include('partials/nav') %>

<script>
$function(){
var socket = io(); //load socket.io-client and connect to the host that serves the page

// define pinstatus API
var pinValue;
var statusUrl;
hostn = 'poolPi';
var getStatus = '/gpio/pinstatus';
statusUrl = 'http://' + hostn +  ':3000' +  getStatus;

// Get the current pin status and change button display
$.get(statusUrl, function(data) {
  data.ds.forEach(function(item, index){
    if(item == true){
      $('#card'+index).addClass('card-danger');
    }
  })
});

}
</script>

    <!-- Page content -->
    <div class="container mainBody" style="width: 100%;">
      <div class="row"><div id="warnings" class="col-12"></div></div>
<div class="row">
      <% devices.forEach(function(item){ %>
        <%- include('cards/device', {item: item}) %>
      <% }); %>
</div>

    </div>




  </body>
</html>
