<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body id="<%= pageID %>">

    <!-- include the navigation bar -->
    <%- include('partials/nav') %>

    <!-- Page content -->
    <div class="container mainBody" style="width: 100%;">


      <%- include('cards/currentweather') %>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
        <div class="card-header">Device Status</div>
        <div class="card-body">
          <h4 class="card-title">Pool Pump</h4>
          <p class="card-text"> Pool Pump Running 00:33:27</p>
        </div>
      </div>
    </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
          <div class="card-header">Device Status</div>
          <div class="card-body">
            <h4 class="card-title">Backyard Lights</h4>
            <p class="card-text">Backyard Lights are ON</p>
          </div>
        </div>
      </div>
    </div>


    <!-- Load js dependencies -->
    <%- include('partials/bs_scripts') %>

  </body>
</html>
