<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head') %>
  <!-- Load js dependencies -->
  <%- include('partials/bs_scripts') %>
  <body id="<%= pageID %>">
    <!-- include the navigation bar -->
    <%- include('partials/nav') %>

    <!-- Page content -->
    <div class="container mainBody">
      <div class="row"><div id="warnings" class="col-12"></div></div>
      <h1>Current Schedules</h1>
      <table class='table table-striped table-responsive'>
        <thead>
          <th>Program #</th>
          <th>Name</th>
          <th>Description</th>
          <th>DeviceID</th>
          <th>Enabled</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Days</th>
          <th>Type</th>
        </thead>
      <% schedule.forEach(function(item){ %>
        <%- include('cards/sch_item', {item: item}) %>
      <% }); %>
    </table>
    </div>



  </body>
</html>
