<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head') %>

  <body id="<%= pageID %>">
    <!-- include the navigation bar -->
    <%- include('partials/nav') %>

    <!-- Page content -->
    <div class="container mainBody">
      <h1><%= heading %></h1>
      <h3>Current Temp is: <%= temperature %> </h3>
    </div>

    <!-- Load js dependencies -->
    <%- include('partials/bs_scripts') %>

  </body>
</html>
